#!/usr/bin/env python3

localconfig = {
    'General': {
        'env': 'dev',
        'gecko-path': '/path/to/mozilla-central'
    },
    'Logging': {
        'level': 5,
        'local': True,
        'sentry': False,
        'sentry_config': {
            'url': 'https://foo@sentry.prod.mozaws.net/1',
            'debug': True
        }
    },
    'Database': {
        'host': 'localhost',
        'user': 'root',
        'password': 'rootpw',
        'db': 'updatebot'
    },
    'Bugzilla': {
        'apikey': '<foobar>'
    },
    'Taskcluster': {
        'url_treeherder': 'https://treeherder.mozilla.org/',
        'url_taskcluster': 'https://firefox-ci-tc.services.mozilla.com/',
    }
}
