#!/usr/bin/env python3

localconfigs = {
    'Database': {
        'host': 'localhost',
        'user': 'username',
        'password': 'p4ssw0rd',
        'db': 'updatebot'
    },
    'Bugzilla': {
        'url': 'https://bugzilla-dev.allizom.org/rest/',
        # 'url': "https://bugzilla.mozilla.org/rest/"
        'apikey': '<foobar>'
    }
}
