#!/usr/bin/env python3

localconfig = {
    'General': {
        'env': 'dev',
        'gecko-path': '/path/to/mozilla-central'
    },
    'Logging': {
        'local': True,
        'sentry': False,
        'sentry_config': {
            'url': 'https://foo@sentry.prod.mozaws.net/1',
            'debug': True
        }
    },
    'Database': {
        'host': 'localhost',
        'user': 'username',
        'password': 'p4ssw0rd',
        'db': 'updatebot'
    },
    'Bugzilla': {
        'apikey': '<foobar>'
    },
    'Taskcluster': {
        'url': 'https://treeherder.mozilla.org/'
    }
}
