version: 2.1

jobs:
  build:
    docker:
      - image: cimg/python:3.6.15
      - image: circleci/mysql:8.0.19
        command: [--default-authentication-plugin=mysql_native_password]
        environment:
          MYSQL_ROOT_PASSWORD: rootpw
          MYSQL_DATABASE: updatebot
    steps:
      - checkout
      - restore_cache:
          keys:
            - deps-{{ checksum "poetry.lock" }}
      - run:
          command: poetry install
          name: dependencies
      - run:
          # Our primary container isn't MySQL so run a sleep command until it's ready.
          command: |
            for i in `seq 1 10`;
            do
              nc -z 127.0.0.1 3306 && echo Success && exit 0
              echo -n .
              sleep 1
            done
            echo '{"body": "Failed waiting for MySQL container"}' > json_output.txt
            . .circleci/pr_comment.sh
            echo Failed waiting for MySQL && exit 1
          name: Waiting for MySQL to be ready
      - save_cache:
          key: deps-{{ checksum "poetry.lock" }}
          paths:
            - /home/circleci/.cache/pypoetry/virtualenvs
  test:
    docker:
      - image: cimg/python:3.6.15
      - image: circleci/mysql:8.0.19
        command: [--default-authentication-plugin=mysql_native_password]
        environment:
          MYSQL_ROOT_PASSWORD: rootpw
          MYSQL_DATABASE: updatebot
    steps:
      - checkout
      - restore_cache:
          keys:
            - deps-{{ checksum "poetry.lock" }}
      - run:
          # Our primary container isn't MySQL so run a sleep command until it's ready.
          command: |
            for i in `seq 1 10`;
            do
              nc -z 127.0.0.1 3306 && echo Success && exit 0
              echo -n .
              sleep 1
            done
            echo '{"body": "Failed waiting for MySQL container"}' > json_output.txt
            . .circleci/pr_comment.sh
            echo Failed waiting for MySQL && exit 1
          name: Waiting for MySQL to be ready
      - run:
          command: |
            . .circleci/run_cmd.sh "coverage run test.py"
          name: test
      - run:
          command: poetry run codecov
          name: coverage
  lint:
    docker:
      - image: cimg/python:3.6.15
    steps:
      - checkout
      - restore_cache:
          keys:
            - deps-{{ checksum "poetry.lock" }}
      - run:
          command: poetry check
          name: dependencies
      - run:
          command: |
            . .circleci/run_cmd.sh "flake8 --ignore=E501,E402 ."
          name: lint

workflows:
  version: 2
  main:
    jobs:
      - build
      - test:
          requires:
            - build
      - lint:
          requires:
            - build
