version: 2.1

jobs:
  build:
    docker:
      - image: circleci/python:3.5-buster
    steps:
      - checkout
      - restore_cache:
          keys:
            - deps-{{ checksum "poetry.lock" }}
      - run:
          command: |
            poetry install
          name: dependencies
      - save_cache:
          key: deps-{{ checksum "poetry.lock" }}
          paths:
            - /home/circleci/.cache/pypoetry/virtualenvs
  test:
    docker:
      - image: circleci/python:3.5-buster
    steps:
      - checkout
      - restore_cache:
          keys:
            - deps-{{ checksum "poetry.lock" }}
      - run:
          command: poetry run coverage run test.py
          name: test
      - run:
          command: poetry run codecov
          name: coverage
  lint:
    docker:
      - image: circleci/python:3.5-buster
    steps:
      - checkout
      - restore_cache:
          keys:
            - deps-{{ checksum "poetry.lock" }}
      - run:
          command: poetry check
          name: dependencies
      - run:
          command: poetry run flake8 .
          name: lint

workflows:
  version: 2
  main:
    jobs:
      - build
      - test:
          requires:
            - build
      - lint:
          requires:
            - build
